/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

.cursor-pointer{
    cursor: pointer;
}

.mb-2{
    margin-bottom: 0.5rem;
}

.mt-2{
    margin-top: 0.5rem;
}